@font-face {
    font-family: "pressFont";
    src: url("../assets/PressStart2P.ttf") format('truetype');
}
body {
    margin: 0;
    padding: 0;
    background: url(../assets/main_background.jpg) center center no-repeat;
    background-attachment: fixed;
}
canvas {
    margin: 0 auto;
}
.game {
    padding: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    margin: -300px 0 0 -400px;
    background: url(../assets/frame.png) top left no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 100px #000;
}
.game:hover {
    cursor: none;
    text-align: center;
}

.game--flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
